<div>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>什麼時候 (When)</mat-label>
      <input matInput type="date" formControlName="date" required>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>誰 (Who)</mat-label>
      <input matInput type="text" formControlName="subject" required maxlength=100>
    </mat-form-field>

    <br>

    <mat-form-field appearance="fill">
      <mat-label>做什麼 (What)</mat-label>
      <input matInput type="text" formControlName="description" required maxlength=100>
    </mat-form-field>

    <br>

    <button mat-raised-button color="primary" (click)="onClick()">送出</button>
  </form>
</div>
