<div class="notification-area">
  <mat-card appearance="outlined" *ngFor="let x of notifications; index as i" class="card" (click)="onClick(i)">
    <mat-card-content>
      <span class="date">{{x.date}}</span>
      <span class="subject">{{x.subject}}</span>
      <span class="description">{{x.description}}</span>
    </mat-card-content>
  </mat-card>
  <mat-card appearance="outlined" *ngIf="notifications.length === 0" class="card">
    <mat-card-content>
      Loading notifications...
    </mat-card-content>
  </mat-card>
</div>
