<div class="container">
  <h2>Take Down Event</h2>

  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Event ID</mat-label>
      <input matInput type="text" formControlName="event_id" required>
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>Secret</mat-label>
      <input matInput type="text" formControlName="secret" required>
    </mat-form-field>

    <div class="actions">
      <button mat-raised-button color="primary" (click)="onClick()">送出</button>
    </div>
  </form>
</div>
