<div class="container">
  <h2>Take Down Event</h2>

  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label
        i18n="label: event-id">
        Event ID
      </mat-label>
      <input matInput type="text" formControlName="event_id" required>
    </mat-form-field>

    <br>

    <div class="actions">
      <button
        i18n="button: submit"
        mat-raised-button
        color="primary"
        (click)="onClick()">
        Submit
      </button>
    </div>
  </form>

  <div #googleLoginButton></div>
</div>
