.container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  mat-form-field {
    width: 100%;
  }
}

mat-card-title, mat-card-subtitle, mat-card-actions {
  text-align: center;
}

.card {
  width: 80%;
  max-width: 30em;
}

button {
  margin: 0px 5px;
}
