.dialog {
  display: block;
  background: white;
  border-radius: 5px 10px;
  width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  filter: drop-shadow(2px 2px 4px #333A);
  transform: translate(-50%, -50%);

  z-index: 9999 !important;
}

.box {
  margin: 10px;
}

.close-button-section {
  display: flex;
  justify-content: flex-end;
}
