<div
  #modal
  class="dialog"
  tabindex="0"
  >

  <div class="box" *ngIf="enable" >
    <section>
      <mat-slide-toggle
        i18n="slide-toggle: autoplay mode"
        color="primary"
        labelPosition="before"
        (change)="onAutoScrollChanged()"
        [(ngModel)]="autoScrollEnabled"
        >
        AutoPlay Mode
      </mat-slide-toggle>
    </section>

    <section>
      <span
        i18n="text: sleep"
        >
        AutoPlay Speed: {{speed}}
      </span>
      <mat-slider
        color="primary"
        min="20"
        max="100"
        [(ngModel)]="speed"
        (input)="onSpeedChanged($event)"
        >
      </mat-slider>
    </section>

    <section class="close-button-section">
      <button
        i18n="button: close"
        mat-raised-button
        color="primary"
        (click)="onClose()"
        >
        Close
      </button>
    </section>
  </div>
</div>

