<div [style]="GetStyle()" (wheel)="OnScroll($event)">
  <app-timeline-canvas
      [style]="GetStyle()"
      [offsetX]="offsetX"
      [predefinedEventsOffset]="predefinedEventsOffset"
      [minVisibleX]="minVisibleX"
      [maxVisibleX]="maxVisibleX"
  ></app-timeline-canvas>
  <div>
    <ng-template ngFor let-event [ngForOf]="predefinedEvents" let-i="index">
      <app-event
          *ngIf="IsVisible(i)"
          [event]="event"
          [offset]="GetOffset(i)">
      </app-event>
    </ng-template>
  </div>
</div>
