.card {
  display: block;
  width: 200px;
  background: gray;
  border-radius: 5px 10px;
  border: solid 1px black;
}

.card:hover {
  z-index: 9999;
}

span {
  font-size: 1rem;
  line-height: 1rem;
  display: inline-block;
  border-radius: 5px 10px;
  padding: .25rem .5rem;
}

.date {
  position: relative;
  top: -0.5em;
  background: #ff55ff;
}

.subject {
  background: #55ffff;
}

.description {
  background: #55ff55;
}
