.dialog {
  display: block;
  background: white;
  border-radius: 5px 10px;
  width: 400px;

  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  z-index: 9999 !important;
}

.card {
  display: block;
  width: 200px;
  background: white;
  border-radius: 5px 10px;
  border: solid 1px black;
}

.card:hover {
  z-index: 9999 !important;
}

span {
  font-size: 1rem;
  line-height: 1rem;
  display: inline-block;
  border-radius: 5px 10px;
  padding: .25rem .5rem;
}

.date {
  position: relative;
  top: -0.5em;
  background: #ff55ff;
}

.subject {
  background: #55ffff;
}

.action {
  background: #55ff55;
}

.object {
  background: #ff5555;
  word-break: break-all;
}

