<div
  #modal
  class="dialog"
  (blur)="onBlur()"
  [style]="getStyle()"
  tabindex="0"
  >
  <div *ngIf="event">

    <span class="date">{{event.date}}</span><br>
    <span *ngIf="event.subject" class="subject">{{event.subject}}</span>
    <span *ngIf="event.action" class="action">{{event.action}}</span>
    <span *ngIf="event.object" class="object">{{event.object}}</span>

    <div *ngIf="event.topic">
      <br>
      <span class="topic">#{{event.topic}}</span>
    </div>

    <div *ngIf="event.location">
      <br>
      <span class="location">@{{event.location}}</span>
    </div>

    <div *ngIf="event.description">
      <br>
      <span class="description">{{event.description}}</span>
    </div>
  </div>
</div>
