<div
  #modal
  class="dialog"
  (blur)="onBlur()"
  [style]="getStyle()"
  tabindex="0"
  >
  <div *ngIf="predefinedEvent">
    <span class="date">{{predefinedEvent.date}}</span><br>
    <span *ngIf="predefinedEvent.subject" class="subject">{{predefinedEvent.subject}}</span>
    <span *ngIf="predefinedEvent.action" class="action">{{predefinedEvent.action}}</span>
    <span *ngIf="predefinedEvent.object" class="object">{{predefinedEvent.object}}</span>

    <div *ngIf="predefinedEvent.topic">
      <br>
      <span class="topic">#{{predefinedEvent.topic}}</span>
    </div>

    <div *ngIf="predefinedEvent.location">
      <br>
      <span class="location">@{{predefinedEvent.location}}</span>
    </div>

    <div *ngIf="predefinedEvent.description">
      <br>
      <span class="description">{{predefinedEvent.description}}</span>
    </div>
  </div>

  <div *ngIf="userEvent">
    <span class="date">{{userEvent.date}}</span><br>
    <span *ngIf="userEvent.subject" class="subject">{{userEvent.subject}}</span>
    <div *ngIf="userEvent.description">
      <br>
      <span class="description">{{userEvent.description}}</span>
    </div>
  </div>
</div>
