.card {
  display: block;
  width: 200px;
  padding: .5rem;
  background: white;
  border-radius: 5px 10px;
  filter: drop-shadow(2px 2px 4px #333A);
  &:hover {
    z-index: 9999 !important;
  }
}

span {
  font-size: 1rem;
  line-height: 1rem;
  display: inline-block;
  border-radius: 5px;
  padding: .25rem .5rem;
  filter: drop-shadow(1px 1px 2px #3333);
}

.date {
  position: relative;
  top: -1rem;
  background: #FF56C2;
}

.subject {
  background: #59FFF6;
}

.action {
  background: #FAF000;
}

.object {
  background: #FF5720;
  word-break: break-all;
}
