.scroll-box {
  display: flex;
  background-color: #003;
  width: fit-content;
}

.group {
  position: absolute;
}

.auto-scroll {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

