<div
  (wheel)="OnScroll($event)"
  (touchmove)="OnScroll($event)"
  (touchstart)="OnScroll($event)"
  (touchend)="OnScroll($event)"
  (touchcancel)="OnScroll($event)"
  >
  <canvas
    #actualCanvas
    (click)="onCanvasClick($event)"
    >
  </canvas>

  <app-event-modal> </app-event-modal>

  <button mat-raised-button class="settings-button" (click)="showSettings()">
    設定
  </button>

  <button
    *ngIf="!autoScrolling"
    mat-raised-button
    class="here-am-i-button"
    (click)="gotoHereAmI()">
    輸入你的關鍵字
  </button>

  <app-settings-modal
    [(enable)]="settingsModalEnabled"
    (speedChangedEvent)="onSpeedChanged($event)"
    (autoScrollChangedEvent)="onAutoScrollChanged($event)"
    (showNotificationsChangedEvent)="onShowNotificationsChanged($event)"
    >
  </app-settings-modal>

  <app-notification-area *ngIf="showNotificationsEnabled">
  </app-notification-area>
</div>
