div {
  overflow: hidden;
}

.scroll-box {
  display: flex;
  background-color: #003;
  width: fit-content;
}

.group {
  position: absolute;
}

.settings-button {
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0;
  &:hover {
    opacity: 1;
  }
}

.here-am-i-button {
  position: absolute;
  bottom: 0px;
  left: 0px;
}
