<div
  [style]="GetStyle()"
  (wheel)="OnScroll($event)"
  (touchmove)="OnScroll($event)"
  (touchstart)="OnScroll($event)"
  (touchend)="OnScroll($event)"
  (touchcancel)="OnScroll($event)"
  >
  <canvas
    #actualCanvas
    [style]="GetCanvasStyle()"
    >
  </canvas>

  <app-event-modal> </app-event-modal>

  <button
    i18n="button: settings"
    mat-raised-button
    class="settings-button"
    (click)="showSettings()">
    Settings
  </button>

  <button
    i18n="button: enter your keywords"
    *ngIf="!autoScrolling"
    mat-raised-button
    class="here-am-i-button"
    (click)="gotoHereAmI()">
    Enter Your Keywords
  </button>

  <app-settings-modal
    [(enable)]="settingsModalEnabled"
    (speedChangedEvent)="onSpeedChanged($event)"
    (autoScrollChangedEvent)="onAutoScrollChanged($event)"
    >
  </app-settings-modal>

  <app-notification-area>
  </app-notification-area>
</div>
